// @font-face
//   font-family cera
//   font-style normal
//   font-weight 400
//   font-display swap
//   src url(./assets/font/CeraPro-Regular.woff2) format("woff2")

// @font-face
//   font-family cera
//   font-style normal
//   font-weight 600
//   font-display swap
//   src url(./assets/font/CeraPro-Bold.woff2) format("woff2")

// @font-face
//   font-family cera
//   font-style normal
//   font-weight 900
//   font-display swap
//   src url(./assets/font/CeraPro-Black.woff2) format("woff2")

//@font-face
//  font-family fra
//  font-style normal
//  font-weight 400
//  font-display swap
//  src url(./assets/font/fra.woff2) format("woff2")

//@font-face
//  font-family "Franklin Gothic Medium"
//  font-style normal
//  font-weight 400
//  font-display swap
//  src url(./assets/font/ITCFranklinGothicStd-Med.ttf) format("opentype")


@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap')
